<h1>NEW VIDEO</h1>

<form action="/comments" method="POST">
	<label for="title">Title: </label>
	<input type="text" name="title" placeholder="Post Title">

	<label for="description">Description: </label>
	<input type="text" name="description" placeholder="Post description">

	<label for="url">Url: </label>
	<input type="text" name="url" placeholder="Post Url">

	<input type="submit" value ="Save">

</form>